<app-header></app-header>

<div class="container mt-5">

    <div class="col-sm-10 mb-4">
        <div class="row">
            <h1>Edita un Usuario</h1>
            <p>Ingresa los datos para editar al usuario.</p>
        </div>
    </div>

    <div *ngIf="isSuccess" class="alert alert-success alerta bi bi-check" role="alert">
        {{ answer }}
    </div>
    <div *ngIf="error" class="alert alert-danger alerta bi bi-exclamation-triangle-fill" role="alert">
        {{ answer }}
    </div>
    <div *ngIf="warning" class="alert alert-warning alerta bi bi-exclamation-triangle" role="alert">
        {{ answer }}
    </div>

    <form [formGroup]="form" (submit)="update()">
        <div class="row justify-content-center">
            <div class="col-sm-6">
                <div class="mb-3">
                    <label class="form-label">Nombre</label>
                    <input type="text" class="form-control" formControlName="Nombre" placeholder="Nombre" [value]="">
                    <ng-container *ngIf="form.get('Nombre').touched && form.get('Nombre').errors">
                        <div class="form-text text-danger" *ngIf="form.get('Nombre').errors.required">
                            Ingresa el nombre
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="mb-3">
                    <label class="form-label">Rol</label>
                    <select class="form-select" formControlName="Rol">
                        <option value="" selected>Selecciona Rol</option>
                        <option value="Paciente">Paciente</option>
                        <option value="Médico">Médico</option>
                    </select>
                    <ng-container *ngIf="form.get('Rol').touched && form.get('Rol').errors">
                        <div class="form-text text-danger" *ngIf="form.get('Rol').errors.required">
                            Ingresa el rol
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-6">
                <div class="mb-3">
                    <label class="form-label">Correo electrónico</label>
                    <div class="div input-group">
                        <span class="input-group-text" id="inputGroupPretend">@</span>
                        <input type="text" class="form-control" formControlName="CorreoElectronico"
                            placeholder="Correo electrónico" [value]="">

                    </div>
                    <ng-container
                        *ngIf="form.get('CorreoElectronico').touched && form.get('CorreoElectronico').invalid">
                        <div class="form-text text-danger" *ngIf="form.get('CorreoElectronico').invalid">
                            Ingrese un correo valido
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="mb-3">
                    <label class="form-label">Contraseña</label>
                    <div class="div input-group">
                        <input [type]="changetype?'password':'text'" class="form-control" formControlName="Contraseña"
                            placeholder="Contraseña" [value]="">
                        <span class="eyeicon input-group-text" (click)="viewpass()"><i
                                [ngClass]="visible?'bi bi-eye':'bi bi-eye-slash'"></i>
                        </span>
                    </div>
                    <ng-container *ngIf="form.get('Contraseña').touched && form.get('Contraseña').invalid">
                        <div class="form-text text-danger" *ngIf="form.get('Contraseña').invalid">
                            Ingrese una contraseña
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>

        <div class="row justify-content-center py-2">
            <div class="col-1">
                <button class="btn btn-warning" (click)="volver()">Volver</button>
            </div>
            <div class="col-1">
                <button class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </form>

</div>

<br><br>
<app-footer></app-footer>