.copyright_section {
    width: 100%;
    float: left;
    background-color: #252525;
    height: 64px;
}

.copyright_text {
    width: 100%;
    float: left;
    font-size: 16px;
    margin-left: 0px;
    color: #fff;
    text-align: center;
    padding-top: 24px;
}

.copyright_text a {
    color: #ffffff;
}

.copyright_text a:hover {
    color: #19e9d9;
}