<app-header></app-header>

<div class="container mb-1">

    <div class="row">
        <div class="col-md-4 mt-5">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h3 class="text-theme-center">Pacientes</h3>
                    <p>Manipular y ver a los pacientes</p>
                    <button class="btn btn-info bg-theme" routerLink="/pacientes">Ver</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-5">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h3 class="text-theme-center">Médicos</h3>
                    <p>Manipular y ver a los médicos</p>
                    <button class="btn btn-info bg-theme" routerLink="/medicos">Ver</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-5">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h3 class="text-theme-center">Citas</h3>
                    <p>Manipular y ver a las citas</p>
                    <button class="btn btn-info bg-theme" routerLink="/citas">Ver</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-4 mt-5">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h3 class="text-theme-center">Historial médico</h3>
                    <p>Manipular y ver los historiales médicos</p>
                    <button class="btn btn-info bg-theme" routerLink="/historial-medicos">Ver</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-5">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h3 class="text-theme-center">Prescripción Médica</h3>
                    <p>Manipular y ver a las prescripciones médicas</p>
                    <button class="btn btn-info bg-theme" routerLink="/prescripcion-medicas">Ver</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-5">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h3 class="text-theme-center">Examen Médico</h3>
                    <p>Manipular y ver los examenes médicos</p>
                    <button class="btn btn-info bg-theme" routerLink="/examen-medicos">Ver</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 mt-5">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h3 class="text-theme-center">Factura</h3>
                    <p>Manipular y ver las facturas</p>
                    <button class="btn btn-info bg-theme" routerLink="/facturas">Ver</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-5">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h3 class="text-theme-center">Historial Pagos</h3>
                    <p>Manipular y ver el historial de pagos</p>
                    <button class="btn btn-info bg-theme" routerLink="/historial-pagos">Ver</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-5">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h3 class="text-theme-center">Personal del consultorio</h3>
                    <p>Manipular y ver al personal del consultorio</p>
                    <button class="btn btn-info bg-theme" routerLink="/personal">Ver</button>
                </div>
            </div>
        </div>
    </div>
   
    <div class="row">
        <div class="col-md-4 mt-5">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h3 class="text-theme-center">Horario de los médicos</h3>
                    <p>Manipular y ver los horarios de los médicos</p>
                    <button class="btn btn-info bg-theme" routerLink="/horarios-medicos">Ver</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-5">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h3 class="text-theme-center">Historial Pagos</h3>
                    <p>Manipular y ver el historial de pagos</p>
                    <button class="btn btn-info bg-theme" routerLink="/historial-pagos">Ver</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-5">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h3 class="text-theme-center">Personal del consultorio</h3>
                    <p>Manipular y ver al personal del consultorio</p>
                    <button class="btn btn-info bg-theme" routerLink="/personal">Ver</button>
                </div>
            </div>
        </div>
    </div>

</div>
<br><br>
<app-footer></app-footer>