<app-header></app-header>

<div class="container mt-5">

    <div class="col-sm-10 mb-4">
        <div class="row">
            <h1>Edita un Paciente</h1>
            <p>Ingresa los datos para editar al paciente.</p>
        </div>
    </div>

    <div *ngIf="isSuccess" class="alert alert-success alerta bi bi-check" role="alert">
        {{ answer }}
    </div>
    <div *ngIf="error" class="alert alert-danger alerta bi bi-exclamation-triangle-fill" role="alert">
        {{ answer }}
    </div>
    <div *ngIf="warning" class="alert alert-warning alerta bi bi-exclamation-triangle" role="alert">
        {{ answer }}
    </div>

    <form [formGroup]="form" (submit)="update()">
        <div class="row justify-content-center">
            <div class="col-sm-6">
                <div class="mb-3">
                    <label class="form-label">Nombre</label>
                    <input type="text" class="form-control" formControlName="Nombre" placeholder="Nombre" [value]="">
                    <ng-container *ngIf="form.get('Nombre').touched && form.get('Nombre').errors">
                        <div class="form-text text-danger" *ngIf="form.get('Nombre').errors.required">
                            Ingresa el nombre
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="mb-3">
                    <label class="form-label">Apellido</label>
                    <input type="text" class="form-control" formControlName="Apellido" placeholder="Apellido"
                        [value]="">
                    <ng-container *ngIf="form.get('Apellido').touched && form.get('Apellido').errors">
                        <div class="form-text text-danger" *ngIf="form.get('Apellido').errors.required">
                            Ingresa el apellido
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-6">
                <div class="mb-3">
                    <label class="form-label">Fecha de nacimiento</label>
                    <input type="date" class="form-control" formControlName='FechaNacimiento'
                        placeholder="Fecha de nacimiento" [value]="">
                    <ng-container *ngIf="form.get('FechaNacimiento').touched && form.get('FechaNacimiento').errors">
                        <div class="form-text text-danger" *ngIf="form.get('FechaNacimiento').errors.required">
                            Ingresa la fecha de nacimiento
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="mb-3">
                    <label class="form-label">Genero</label><br>
                    <div class="btn-group" role="group" aria-label="Genero">
                        <input type="radio" class="" name="Genero" id="male" value="M" autocomplete="off" formControlName="Genero">
                        <label class="ms-2 me-2" for="male">M</label>
            
                        <input type="radio" class="" name="Genero" id="female" value="F" autocomplete="off" formControlName="Genero">
                        <label class="ms-2 me-2" for="female">F</label>
                    </div>
                    <ng-container *ngIf="form.get('Genero').touched && form.get('Genero').errors">
                        <div class="form-text text-danger" *ngIf="form.get('Genero').errors.required">
                            Ingresa el género
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-6">
                <div class="mb-3">
                    <label class="form-label">Dirección</label>
                    <input type="text" class="form-control" formControlName="Direccion" placeholder="Dirección"
                        [value]="">
                    <ng-container *ngIf="form.get('Direccion').touched && form.get('Direccion').errors">
                        <div class="form-text text-danger" *ngIf="form.get('Direccion').errors.required">
                            Ingresa la dirección
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="mb-3">
                    <label class="form-label">Teléfono</label>
                    <input type="text" class="form-control" formControlName="Telefono" placeholder="Teléfono"
                        [value]="">
                    <ng-container *ngIf="form.get('Telefono').touched && form.get('Telefono').errors">
                        <div class="form-text text-danger" *ngIf="form.get('Telefono').errors.required">
                            Ingresa el teléfono
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-6">
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <div class="div input-group">
                        <span class="input-group-text" id="inputGroupPretend">@</span>
                        <input type="text" class="form-control" formControlName="CorreoElectronico" placeholder="Email"
                            [value]="">
                    </div>
                    <ng-container
                        *ngIf="form.get('CorreoElectronico').touched && form.get('CorreoElectronico').invalid">
                        <div class="form-text text-danger" *ngIf="form.get('CorreoElectronico').invalid">
                            Ingrese un correo valido
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="mb-3">
                    <!-- <label class="form-label">Contraseña</label>
                    <div class="div input-group">
                        <input [type]="changetype?'password':'text'" class="form-control" formControlName="password"
                            placeholder="Contraseña" [value]="">
                        <span class="eyeicon input-group-text" (click)="viewpass()"><i
                                [ngClass]="visible?'bi bi-eye':'bi bi-eye-slash'"></i>
                        </span>
                    </div>
                    <ng-container *ngIf="form.get('password').touched && form.get('password').invalid">
                        <div class="form-text text-danger" *ngIf="form.get('password').invalid">
                            Ingrese un minimo de 7 caratereres
                        </div>
                    </ng-container> -->
                </div>
            </div>
        </div>

        <div class="row justify-content-center py-2">
            <div class="col-1">
                <button class="btn btn-warning" (click)="volver()">Volver</button>
            </div>
            <div class="col-1">
                <button class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </form>
</div>

<app-footer></app-footer>