<app-header></app-header>

<div class="container mb-1">

    <div class="row">
        <div class="col-md-12 mt-5">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h3 class="text-theme-center">Lista de los historiales de pago</h3>
                    <p>Desde aquí puedes manipular los hitoriales de pago</p>
                    <button class="btn btn-info bg-theme" (click)="newPatient()">Agregar un nuevo historial</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 mt-5">
            <div class="col-md-12 mt-5">
                <div *ngIf="isSuccess" class="alert alert-success alerta bi bi-check" role="alert">
                    {{ answer }}
                </div>
                <div *ngIf="error" class="alert alert-danger alerta bi bi-exclamation-triangle-fill" role="alert">
                    {{ answer }}
                </div>
                <div *ngIf="warning" class="alert alert-warning alerta bi bi-exclamation-triangle" role="alert">
                    {{ answer }}
                </div>

                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Borrar historial de pago</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                ¿Estas seguro que deseas borrar el historial de pago?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">Cancelar</button>
                                <button type="button" class="btn btn-danger" (click)="borrar()"
                                    data-bs-dismiss="modal">Aceptar</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="card shadow-sm">
                    <div class="card-body">
                        <table class="table row-border hover">
                            <thead>
                                <tr>
                                    <th> No. </th>
                                    <th> ID factura </th>
                                    <th> Fecha de pago </th>
                                    <th> Monto</th>
                                    <th> Acciones </th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr *ngFor="let o of ob; let i = index">
                                    <td class="col-2"> {{ i+1 }} </td>
                                    <td class="col-2"> {{ o.factura.ID_Factura}} </td>
                                    <td class="col-3"> {{ o.FechaPago | date: "dd/MM/yyy"}} </td>
                                    <td class="col-2"> ${{ o.Monto }} </td>
                                    <td class="col-2">
                                        <button class="btn btn-sm btn-warning m-1 bi bi-pen"
                                            (click)="editPatient(o.ID_HistorialPago)"></button>
                                        <button type="button" class="btn btn-sm btn-danger m-1 bi bi-trash"
                                            data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                            (click)="delete(o.ID_HistorialPago)"></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br><br>
<app-footer></app-footer>