<app-header></app-header>

<div class="container mt-5">

    <div class="col-sm-10 mb-4">
        <div class="row">
            <h1>Crea la Factura</h1>
            <p>Ingresa los datos para crear una nueva factura.</p>
        </div>
    </div>

    <div *ngIf="isSuccess" class="alert alert-success alerta bi bi-check" role="alert">
        {{ answer }}
    </div>
    <div *ngIf="error" class="alert alert-danger alerta bi bi-exclamation-triangle-fill" role="alert">
        {{ answer }}
    </div>
    <div *ngIf="warning" class="alert alert-warning alerta bi bi-exclamation-triangle" role="alert">
        {{ answer }}
    </div>

    <form [formGroup]="form" (submit)="create()">
        <div class="row justify-content-center">
            <div class="col-sm-6">
                <div class="mb-3">
                    <label class="form-label">Id paciente</label>
                    <input type="number" class="form-control" formControlName="ID_Paciente" placeholder="ID Paciente"
                        [value]="">
                    <ng-container *ngIf="form.get('ID_Paciente').touched && form.get('ID_Paciente').errors">
                        <div class="form-text text-danger" *ngIf="form.get('ID_Paciente').errors.required">
                            Ingresa al paciente
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="mb-3">
                    <label class="form-label">Fecha de facturación</label>
                    <input type="date" class="form-control" formControlName="FechaFacturacion" placeholder="Fecha de facturación"
                        [value]="">
                    <ng-container *ngIf="form.get('FechaFacturacion').touched && form.get('FechaFacturacion').errors">
                        <div class="form-text text-danger" *ngIf="form.get('FechaFacturacion').errors.required">
                            Ingresa la fecha
                        </div>
                    </ng-container>
                </div>
            </div>
            
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-6">
                <div class="mb-3">
                    <label class="form-label">Total</label>
                    <input type="number" class="form-control" formControlName="Total" placeholder="Total"
                        [value]="">
                    <ng-container *ngIf="form.get('Total').touched && form.get('Total').errors">
                        <div class="form-text text-danger" *ngIf="form.get('Total').errors.required">
                            Ingresa el total
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="mb-3">
                    <label class="form-label">Estado</label>
                    <select class="form-select" formControlName="EstadoPago">
                        <option value="" selected>Estado</option>
                        <option value="Pendiente">Pendiente</option>
                        <option value="Pagada">Pagada</option>
                    </select>
                    <ng-container *ngIf="form.get('EstadoPago').touched && form.get('EstadoPago').errors">
                        <div class="form-text text-danger" *ngIf="form.get('EstadoPago').errors.required">
                            Ingresa el estado
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
        </div>

        <div class="row justify-content-center py-2">
            <div class="col-1">
                <button class="btn btn-warning" (click)="volver()">Volver</button>
            </div>
            <div class="col-1">
                <button class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </form>

    <!-- PACIENTES -->

    <div class="row">
        <div class="col-md-12 mt-5">
            <h3>Lista de los pacientes</h3>
        </div>
    </div>
    <div class="row col-5 mb-2 mt-2">
        <div class="input-group rounded" >
            <input type="search" class="form-control rounded" placeholder="Buscar" aria-label="Search"
                aria-describedby="search-addon" id="search" [(ngModel)]="searchTerm" (input)="search()"/>
            <span class="input-group-text border-0 nb" id="search-addon">
                <i class="bi bi-search"></i>
            </span>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12 mt-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <table class="table row-border hover">
                            <thead>
                                <tr>
                                    <th> ID </th>
                                    <th> Nombre </th>
                                    <th> Apellido </th>
                                    <th> Télefono </th>
                                    <th> Correo </th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr *ngFor="let paciente of filteredCitasList">
                                    <td class="col-2"> {{ paciente.ID_Paciente }} </td>
                                    <td class="col-3"> {{paciente.Nombre}} </td>
                                    <td class="col-2"> {{ paciente.Apellido }} </td>
                                    <td class="col-2"> {{ paciente.Telefono }} </td>
                                    <td class="col-3"> {{ paciente.CorreoElectronico }} </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<br><br>
<app-footer></app-footer>